* {
    background-color: rgb(248, 244, 244); /* Устанавливаем черный фон для всех элементов */
    color: white; /* Устанавливаем белый цвет текста для всех элементов */
}
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Изменяет порядок отображения на мобильных устройствах */
    }
}

.logo {
    position: flex;    
    margin-top: -195px;
    margin-left: 10%;
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
 }

 .sasha {
    position: flex;    
    margin-top: -220px;
    margin-left: 36%;
    border: 10px inset #dfbcbced; /* Цвет и толщина рамки */
    border-radius: 4px; /* Радиус скругления углов */
    background-color: #f9f4ca; /* Цвет фона рамки */
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
 }
 
.SlovoSPB {
    position: flex;
    margin-top: 10px;
    margin-left: 32%;
    color: rgb(124, 80, 27);
    font-family: 'Papyrus', sans-serif;
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
}

.dima {
    position: flex;
    margin-top: 0%;
    margin-left: 32%;
    border: 10px outset #dfbcbced; /* Цвет и толщина рамки */
    border-radius: 4px; /* Радиус скругления углов */
    background-color: #f9f4ca; /* Цвет фона рамки */
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
}



.Privet {
    
    font-size: 18px; /* Размер шрифта */
    font-weight: 37px; /* Толщина шрифта */
    color: #333333; /* Цвет текста */
    text-align: center; /* Выравнивание текста */
    margin-left: 30%;
    padding: 10px; /* Внутренние отступы */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    letter-spacing: 1px; /* Расстояние между буквами */
    line-height: 1.2; /* Междустрочный интервал */
    font-family: 'Papyrus', sans-serif;
   /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
}

.text-container {
    font-size: 15px; /* Размер шрифта */
    font-weight: 30; /* Толщина шрифта */
    color: #333333; /* Цвет текста */
    text-align: center; /* Выравнивание текста */
    margin: 0px 29%; /* Отступы сверху и снизу */
    padding: 10px; /* Внутренние отступы */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    letter-spacing: 1px; /* Расстояние между буквами */
    line-height: 1.2; /* Междустрочный интервал */ 
    width: 300px; /* фиксированная ширина */
    overflow: hidden; /* скрытие переполненного текста */
    font-family: 'Papyrus', sans-serif;
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
}

.SpecialPrivet1 {
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 15px; /* Размер шрифта */
    font-weight: 30; /* Толщина шрифта */
    color: #333333; /* Цвет текста */
    text-align: center; /* Выравнивание текста */
    letter-spacing: 1px; /* Расстояние между буквами */
    border: 0px solid #000; /* Цвет и толщина рамки */
    border-radius: 30px; /* Радиус скругления углов */
    background-color: #f9f4ca; /* Цвет фона рамки */
    font-family: 'Papyrus', sans-serif;
    position: static;
    margin-left: 51%;
    margin-right: 29%;
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
}

.SpecialPrivet {
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 15px; /* Размер шрифта */
    font-weight: 30; /* Толщина шрифта */
    color: #333333; /* Цвет текста */
    text-align: center; /* Выравнивание текста */
    margin: 0px 680px; /* Отступы сверху и снизу */
    padding: 7px; /* Внутренние отступы */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    letter-spacing: 1px; /* Расстояние между буквами */
    line-height: 1.2; /* Междустрочный интервал */
    border: 0px solid #000; /* Цвет и толщина рамки */
    border-radius: 30px; /* Радиус скругления углов */
    background-color: #f9f4ca; /* Цвет фона рамки */
    font-family: 'Papyrus', sans-serif;

}



.sex {
    position: flex;
    margin-top: 2%;
    margin-left: 43%;
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */

}

.SiN{
    position: flex;
    margin-top: auto;
    margin-left: 52%;
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
}

.Timing {
    position: flex;    
    margin-top:  0px;
    margin-left: 9%;
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
 }

 .Home {
    position: flex;    
    margin-top:  0px;
    margin-left: 51.5%;
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
 }

 .Man  {
    position: flex;
    margin-top: auto;
    margin-left: 44%;
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
 }

 .Serdce {
    position: absolute;    
    margin-top: -10px;
    margin-left: 70%;
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
 }

 .palitra {
    position: flex;    
    margin-top: -10px;
    margin-left: 15%;
    display: flex; /* Flexbox для создания адаптивного выравнивания */
    justify-content: space-between; /* Равномерное распределение элементов */
 }
